body
{
	background-color: #000;
}

h1
{
	font-family: 'Ubuntu', sans-serif;
	color: #FFF;
	background-color: #B5B5B5;
	padding: 10px;
	font-size: 2em;
}

p
{
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
	font-size: 1.2em;
}

video
{
	padding: 0 auto;
}

.evenements_encart
{
	display: flex;
	padding: 0 5px;
	font-size: 0.9em;
}

.image_evenement img
{
	height: 140px;
	width: auto;
}

span {
	color : #BBB;
}